aside {
  padding: 1rem 2rem;
  width: fit-content;
  color: white;
  background-color: var(--quill-navy);

  a {
    font-size: 2.8rem;
  }

  ul {
    margin-top: 2rem;
    li {
      padding: 1rem 0 0 5rem;
      font-size: 2.2rem;
      text-wrap: nowrap;
    }
  }
}
