header {
  background: #d4af37;
  padding: 1rem 3rem;

  img {
    width: 44px;
    height: 47px;
  }

  h1 {
    color: #2a3d66;
  }

  button {
    background-color: #2a3d66;
    padding: 1rem 2rem;
    border-radius: 5px;
  }
}
