header {
  min-height: 76px;
  background: var(--quill-gold);
  padding: 1rem 3rem;

  img {
    width: 44px;
    height: 47px;
  }

  h1 {
    color: var(--quill-navy);
  }

  button {
    background-color: var(--quill-navy);
    padding: 1rem 2rem;
    border-radius: 5px;
  }
}
